@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<header>

    <h1 class="text-center"> Welcome to the Online Book Site </h1>
    <img src="~/img/drseuss.jpg" class="rounded-circle" width="500" />
    <img src="~/lib/bootstrap/img/books.jpg" class=" border-secondary" height="500" width="1100" />
</header>

<!--loop through the info from the model and output it to the ptags-->
@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}
<div page-model="@Model.Paginginfo" page-action="Index"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1">

</div>